{
  "openapi": "3.1.0",
  "info": {
    "title": "stoaix Partner API",
    "version": "2026-05-19",
    "description": "Machine-to-machine API for integrating external systems (CRM, PMS, etc.) with stoaix platform.\n\n## Authentication\nAll requests require an API key via `Authorization: Bearer sk_live_xxx` or `x-api-key` header.\n\nAPI keys are scoped — each key has specific permissions (e.g., `contacts:read`, `leads:write`). You can create and manage keys in **Settings > Partner API**.\n\n## Rate Limiting\nPlan-based RPM limits. Check `RateLimit-*` response headers:\n\n| Header | Description |\n|--------|-------------|\n| `RateLimit-Limit` | Max requests per minute |\n| `RateLimit-Remaining` | Remaining requests in current window |\n| `RateLimit-Reset` | Unix timestamp when limit resets |\n\n| Plan | RPM | Monthly Quota |\n|------|-----|---------------|\n| Essential | 30 | 1,000 |\n| Professional | 60 | 10,000 |\n| Business | 120 | 50,000 |\n| Custom | 300 | Unlimited |\n\n## Response Headers\nEvery response includes:\n\n| Header | Description |\n|--------|-------------|\n| `X-Api-Version` | Current API version (date-based, e.g. `2026-05-19`) |\n| `X-Request-Id` | Unique request identifier for debugging |\n| `X-API-Key-Expires` | ISO 8601 expiry date of the API key (if set) |\n| `RateLimit-Limit` | Max requests per minute |\n| `RateLimit-Remaining` | Remaining requests in current window |\n| `RateLimit-Reset` | Unix timestamp when limit resets |\n\n## Idempotency\nPOST endpoints accept `Idempotency-Key` header. Responses are cached for 24 hours. Replaying the same key returns the cached response without side effects.\n\n## Optimistic Concurrency (Version Locking)\nPATCH endpoints on contacts, leads, and appointments support optimistic locking via the `version` field. Include the current `version` value in your update request — if the record has been modified since you last read it, the API returns `409 Conflict`.\n\n```json\nPATCH /api/v1/contacts/uuid\n{ \"full_name\": \"New Name\", \"version\": 3 }\n\n// If version mismatch:\n// 409 { \"error\": { \"code\": \"conflict\", \"message\": \"Version conflict — record has been modified. Re-fetch and retry.\" } }\n```\n\n## Webhooks\nRegister webhook subscriptions in **Settings > Partner API > Webhooks** to receive real-time event notifications.\n\n### Event Types\n- `contact.created`, `contact.updated`, `contact.deleted`\n- `lead.created`, `lead.updated`, `lead.status_changed`\n- `appointment.created`, `appointment.updated`, `appointment.status_changed`\n\n### Delivery & Retry Policy\n- **Timeout:** 10 seconds per delivery\n- **Retries:** Up to 8 attempts with exponential backoff (1min, 5min, 30min, 2h, 6h, 12h, 24h)\n- **Dead letter:** After 8 failed attempts, the delivery is moved to `dead_letter` status and an alert is generated\n- **Auto-disable:** After 10 consecutive failures across deliveries, the subscription is automatically disabled\n- **Signature:** HMAC-SHA256 via `X-Stoaix-Signature` header (Stripe-style `t=timestamp,v1=signature` format)\n\n### Polling Fallback\nIf your system cannot receive webhooks, use `GET /api/v1/events` to poll for changes. Events are retained for 30 days.",
    "contact": { "email": "info@stoaix.com" }
  },
  "servers": [
    { "url": "https://platform.stoaix.com", "description": "Production" }
  ],
  "security": [{ "BearerAuth": [] }, { "ApiKeyAuth": [] }],
  "paths": {
    "/api/v1/contacts": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "phone", "in": "query", "schema": { "type": "string" }, "description": "Filter by exact phone number" },
          { "name": "email", "in": "query", "schema": { "type": "string" }, "description": "Filter by exact email" },
          { "name": "status", "in": "query", "schema": { "type": "string" }, "description": "Filter by status" },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Search by name, phone, email (max 100 chars)" },
          { "name": "cursor", "in": "query", "schema": { "type": "string" }, "description": "Pagination cursor (created_at from previous response)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 }, "description": "Number of results per page" }
        ],
        "responses": {
          "200": { "description": "Contact list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Create contact",
        "operationId": "createContact",
        "tags": ["Contacts"],
        "description": "Creates a new contact. If a contact with the same phone already exists, returns the existing contact with `200` instead of creating a duplicate.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" }, "description": "Unique key to prevent duplicate creation" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactCreate" } } } },
        "responses": {
          "201": { "description": "Contact created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SingleResponse" } } } },
          "200": { "description": "Deduplicated (existing contact found by phone)" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/contacts/{id}": {
      "get": {
        "summary": "Get contact",
        "operationId": "getContact",
        "tags": ["Contacts"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Contact detail", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SingleResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update contact",
        "operationId": "updateContact",
        "tags": ["Contacts"],
        "description": "Updates a contact. Supports optimistic locking via `version` field.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactUpdate" } } } },
        "responses": {
          "200": { "description": "Contact updated" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      },
      "delete": {
        "summary": "Delete contact (soft)",
        "operationId": "deleteContact",
        "tags": ["Contacts"],
        "description": "Soft-deletes a contact by setting `deleted_at`. Cascades: open leads are set to `lost`, scheduled appointments are `cancelled`. Triggers `contact.deleted` webhook event.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Contact deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/contacts/batch": {
      "post": {
        "summary": "Batch create/upsert contacts",
        "operationId": "batchContacts",
        "tags": ["Contacts"],
        "description": "Process up to 100 contact operations in a single request. Each operation can be `create` (skip if duplicate) or `upsert` (update if duplicate found). Deduplication is based on `match_on` field (`phone` or `email`).",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactBatchRequest" },
              "example": {
                "operations": [
                  { "method": "upsert", "match_on": "phone", "data": { "full_name": "Ahmet Yilmaz", "phone": "+905551234567", "email": "ahmet@example.com" } },
                  { "method": "create", "data": { "full_name": "Ayse Demir", "phone": "+905559876543" } }
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Batch completed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/contacts/{id}/export": {
      "post": {
        "summary": "Start contact data export (KVKK)",
        "operationId": "exportContact",
        "tags": ["Contacts"],
        "description": "Starts an async data export for KVKK/GDPR compliance. Returns a job ID — poll `GET /api/v1/export-jobs/{jobId}` for results. Export includes all contact data, leads, appointments, and conversations.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "202": { "description": "Export job started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExportJobResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/export-jobs/{jobId}": {
      "get": {
        "summary": "Get export job status",
        "operationId": "getExportJob",
        "tags": ["Contacts"],
        "description": "Poll the status of an async export job. When `status` is `completed`, the `result` field contains the exported data. Jobs expire after a set period — expired jobs return `410 Gone`.",
        "parameters": [{ "name": "jobId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Export job ID (e.g., exp_abc123def456)" }],
        "responses": {
          "200": {
            "description": "Export job status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "status": { "type": "string", "enum": ["processing", "completed", "failed"] },
                        "result": { "type": "object", "nullable": true, "description": "Exported data (present when status=completed)" },
                        "error": { "type": "string", "nullable": true, "description": "Error message (present when status=failed)" },
                        "created_at": { "type": "string", "format": "date-time" },
                        "completed_at": { "type": "string", "format": "date-time", "nullable": true },
                        "expires_at": { "type": "string", "format": "date-time", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "410": { "description": "Export job expired", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/v1/leads": {
      "get": {
        "summary": "List leads",
        "operationId": "listLeads",
        "tags": ["Leads"],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string" }, "description": "Filter by lead status" },
          { "name": "source_channel", "in": "query", "schema": { "type": "string" }, "description": "Filter by source channel" },
          { "name": "contact_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by contact" },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Lead list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "tags": ["Leads"],
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeadCreate" } } } },
        "responses": {
          "201": { "description": "Lead created" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/leads/{id}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": { "200": { "description": "Lead detail" }, "404": { "$ref": "#/components/responses/NotFound" } }
      },
      "patch": {
        "summary": "Update lead",
        "operationId": "updateLead",
        "tags": ["Leads"],
        "description": "Updates a lead. Supports optimistic locking via `version` field. If the organization has `enforce_state_machine` enabled, status transitions are validated — invalid transitions return `400` with allowed transitions.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeadUpdate" } } } },
        "responses": {
          "200": { "description": "Lead updated" },
          "400": { "$ref": "#/components/responses/InvalidTransition" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/api/v1/appointments": {
      "get": {
        "summary": "List appointments",
        "operationId": "listAppointments",
        "tags": ["Appointments"],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["scheduled", "confirmed", "attended", "no_show", "cancelled", "rescheduled"] } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "Start of date range (inclusive)" },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "End of date range (inclusive)" },
          { "name": "contact_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Appointment list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Create appointment",
        "operationId": "createAppointment",
        "tags": ["Appointments"],
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppointmentCreate" } } } },
        "responses": {
          "201": { "description": "Appointment created" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/appointments/{id}": {
      "get": {
        "summary": "Get appointment",
        "operationId": "getAppointment",
        "tags": ["Appointments"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": { "200": { "description": "Appointment detail" }, "404": { "$ref": "#/components/responses/NotFound" } }
      },
      "patch": {
        "summary": "Update appointment",
        "operationId": "updateAppointment",
        "tags": ["Appointments"],
        "description": "Updates an appointment. Supports optimistic locking via `version` field. If the organization has `enforce_state_machine` enabled, status transitions are validated.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppointmentUpdate" } } } },
        "responses": {
          "200": { "description": "Appointment updated" },
          "400": { "$ref": "#/components/responses/InvalidTransition" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/api/v1/appointments/batch": {
      "post": {
        "summary": "Batch create/upsert appointments",
        "operationId": "batchAppointments",
        "tags": ["Appointments"],
        "description": "Process up to 100 appointment operations in a single request. Each operation can be `create` or `upsert`. Deduplication for upsert is based on `external_id`.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AppointmentBatchRequest" },
              "example": {
                "operations": [
                  { "method": "upsert", "match_on": "external_id", "data": { "external_id": "dentsoft_12345", "scheduled_at": "2026-06-01T10:00:00Z", "title": "Consultation", "appointment_type": "consultation" } },
                  { "method": "create", "data": { "scheduled_at": "2026-06-02T14:00:00Z", "contact_id": "uuid", "title": "Follow-up" } }
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Batch completed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/conversations": {
      "get": {
        "summary": "List conversations",
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "parameters": [
          { "name": "channel", "in": "query", "schema": { "type": "string", "enum": ["voice", "whatsapp", "instagram", "web"] } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "contact_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Conversation list" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/conversations/{id}/messages": {
      "get": {
        "summary": "List messages in conversation",
        "operationId": "listMessages",
        "tags": ["Conversations"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Message list" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/knowledge": {
      "get": {
        "summary": "List knowledge items",
        "operationId": "listKnowledge",
        "tags": ["Knowledge"],
        "parameters": [
          { "name": "item_type", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": { "200": { "description": "Knowledge item list" } }
      },
      "post": {
        "summary": "Create knowledge item",
        "operationId": "createKnowledge",
        "tags": ["Knowledge"],
        "description": "Creates a knowledge item. An embedding vector is automatically generated from the title and content using OpenAI text-embedding-3-small.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/KnowledgeCreate" } } } },
        "responses": { "201": { "description": "Knowledge item created (embedding auto-generated)" } }
      }
    },
    "/api/v1/knowledge/{id}": {
      "get": {
        "summary": "Get knowledge item",
        "operationId": "getKnowledge",
        "tags": ["Knowledge"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": { "200": { "description": "Knowledge item detail" } }
      },
      "patch": {
        "summary": "Update knowledge item",
        "operationId": "updateKnowledge",
        "tags": ["Knowledge"],
        "description": "Updates a knowledge item. If `title` or `content` changes, the embedding is automatically re-generated.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/KnowledgeUpdate" } } } },
        "responses": { "200": { "description": "Knowledge item updated (re-embedded if content changed)" } }
      },
      "delete": {
        "summary": "Deactivate knowledge item",
        "operationId": "deleteKnowledge",
        "tags": ["Knowledge"],
        "description": "Soft-deletes a knowledge item by setting `is_active = false`.",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": { "200": { "description": "Knowledge item deactivated" } }
      }
    },
    "/api/v1/events": {
      "get": {
        "summary": "Poll events",
        "operationId": "pollEvents",
        "tags": ["Events"],
        "description": "Returns events since a given timestamp. Use the `cursor` from the response as the next `since` value. Ideal for on-premise systems without webhook support. Events are retained for 30 days.",
        "parameters": [
          { "name": "since", "in": "query", "required": true, "schema": { "type": "string", "format": "date-time" }, "description": "ISO 8601 timestamp. Only events after this time are returned." },
          { "name": "types", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated event types (e.g., contact.created,lead.updated)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventList" } } }
          }
        }
      }
    },
    "/api/v1/inbound/contacts": {
      "post": {
        "summary": "Push contact from partner (external_id dedup)",
        "operationId": "pushContact",
        "tags": ["Inbound"],
        "description": "Push a contact from an external system. Deduplication is based on `external_id` + `partner_name`. If a matching contact exists, it is updated; otherwise a new contact is created.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InboundContact" } } } },
        "responses": {
          "201": { "description": "Contact created" },
          "200": { "description": "Existing contact updated" }
        }
      }
    },
    "/api/v1/inbound/appointments": {
      "post": {
        "summary": "Push appointment from partner (external_id dedup)",
        "operationId": "pushAppointment",
        "tags": ["Inbound"],
        "description": "Push an appointment from an external system. Deduplication is based on `external_id`. If a matching appointment exists, it is updated; otherwise a new appointment is created.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InboundAppointment" } } } },
        "responses": {
          "201": { "description": "Appointment created" },
          "200": { "description": "Existing appointment updated" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "description": "API key as Bearer token: `Authorization: Bearer sk_live_xxx`" },
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "x-api-key", "description": "API key as custom header: `x-api-key: sk_live_xxx`" }
    },
    "schemas": {
      "ContactCreate": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string", "description": "Contact's full name" },
          "phone": { "type": "string", "description": "Phone number — E.164 or local format (auto-normalized)" },
          "email": { "type": "string", "format": "email" },
          "source_channel": { "type": "string", "default": "api", "description": "Origin channel (api, whatsapp, voice, web, etc.)" },
          "metadata": { "type": "object", "description": "Arbitrary key-value data" }
        }
      },
      "ContactUpdate": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string" },
          "status": { "type": "string" },
          "metadata": { "type": "object" },
          "version": { "type": "integer", "description": "Current version for optimistic locking. If provided and does not match, returns 409 Conflict." }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "ContactBatchRequest": {
        "type": "object",
        "required": ["operations"],
        "properties": {
          "operations": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "required": ["method", "data"],
              "properties": {
                "method": { "type": "string", "enum": ["create", "upsert"], "description": "`create` — skip if duplicate; `upsert` — update if duplicate found" },
                "match_on": { "type": "string", "enum": ["phone", "email"], "default": "phone", "description": "Field used for deduplication" },
                "data": { "$ref": "#/components/schemas/ContactCreate" }
              }
            }
          }
        }
      },
      "AppointmentBatchRequest": {
        "type": "object",
        "required": ["operations"],
        "properties": {
          "operations": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "required": ["method", "data"],
              "properties": {
                "method": { "type": "string", "enum": ["create", "upsert"], "description": "`create` — skip if duplicate; `upsert` — update if duplicate found" },
                "match_on": { "type": "string", "enum": ["external_id"], "default": "external_id", "description": "Field used for deduplication (only external_id supported)" },
                "data": { "$ref": "#/components/schemas/AppointmentCreate" }
              }
            }
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": { "type": "integer", "description": "Position in the operations array" },
                    "id": { "type": "string", "format": "uuid", "description": "Created or matched record ID" },
                    "action": { "type": "string", "enum": ["created", "updated", "deduplicated", "failed"] },
                    "error": { "type": "string", "description": "Error message if action=failed" }
                  }
                }
              },
              "summary": {
                "type": "object",
                "properties": {
                  "total": { "type": "integer" },
                  "created": { "type": "integer" },
                  "updated": { "type": "integer" },
                  "skipped": { "type": "integer", "description": "Deduplicated (create method with existing match)" },
                  "failed": { "type": "integer" }
                }
              }
            }
          }
        }
      },
      "ExportJobResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "job_id": { "type": "string", "description": "Export job ID (e.g., exp_abc123def456)" },
              "status": { "type": "string", "enum": ["processing", "completed", "failed"] },
              "poll_url": { "type": "string", "description": "URL to poll for job status" }
            }
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "deleted": { "type": "boolean", "const": true }
            }
          }
        }
      },
      "LeadCreate": {
        "type": "object",
        "required": ["contact_id"],
        "properties": {
          "contact_id": { "type": "string", "format": "uuid" },
          "source_channel": { "type": "string", "default": "api" },
          "status": { "type": "string", "default": "new" },
          "qualification_score": { "type": "integer", "minimum": 0, "maximum": 100 },
          "collected_data": { "type": "object", "description": "Structured intake data (JSONB)" },
          "notes": { "type": "string" }
        }
      },
      "LeadUpdate": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "New status. Subject to state machine validation if enabled." },
          "qualification_score": { "type": "integer", "minimum": 0, "maximum": 100 },
          "collected_data": { "type": "object" },
          "notes": { "type": "string" },
          "version": { "type": "integer", "description": "Current version for optimistic locking. If provided and does not match, returns 409 Conflict." }
        }
      },
      "AppointmentCreate": {
        "type": "object",
        "required": ["scheduled_at"],
        "properties": {
          "scheduled_at": { "type": "string", "format": "date-time" },
          "contact_id": { "type": "string", "format": "uuid" },
          "lead_id": { "type": "string", "format": "uuid" },
          "external_id": { "type": "string", "description": "Unique ID in external system (used for upsert dedup)" },
          "duration_minutes": { "type": "integer", "default": 60 },
          "title": { "type": "string" },
          "appointment_type": { "type": "string", "enum": ["consultation", "operation", "follow_up", "other"] },
          "source": { "type": "string", "description": "Origin system (platform, ai, ghl, dentsoft, api)" },
          "notes": { "type": "string" }
        }
      },
      "AppointmentUpdate": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["scheduled", "confirmed", "attended", "no_show", "cancelled", "rescheduled"] },
          "scheduled_at": { "type": "string", "format": "date-time" },
          "title": { "type": "string" },
          "appointment_type": { "type": "string", "enum": ["consultation", "operation", "follow_up", "other"] },
          "duration_minutes": { "type": "integer" },
          "notes": { "type": "string" },
          "version": { "type": "integer", "description": "Current version for optimistic locking. If provided and does not match, returns 409 Conflict." }
        }
      },
      "KnowledgeCreate": {
        "type": "object",
        "required": ["title", "content"],
        "properties": {
          "title": { "type": "string" },
          "content": { "type": "string" },
          "item_type": { "type": "string", "default": "general" },
          "metadata": { "type": "object" }
        }
      },
      "KnowledgeUpdate": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "content": { "type": "string" },
          "item_type": { "type": "string" },
          "metadata": { "type": "object" },
          "is_active": { "type": "boolean" }
        }
      },
      "InboundContact": {
        "type": "object",
        "required": ["external_id", "partner_name"],
        "properties": {
          "external_id": { "type": "string", "description": "Unique ID in partner system" },
          "partner_name": { "type": "string", "description": "Partner identifier (e.g., 'novasoft')" },
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string" },
          "metadata": { "type": "object" }
        }
      },
      "InboundAppointment": {
        "type": "object",
        "required": ["external_id", "scheduled_at"],
        "properties": {
          "external_id": { "type": "string" },
          "scheduled_at": { "type": "string", "format": "date-time" },
          "contact_id": { "type": "string", "format": "uuid" },
          "lead_id": { "type": "string", "format": "uuid" },
          "duration_minutes": { "type": "integer" },
          "title": { "type": "string" },
          "appointment_type": { "type": "string" },
          "status": { "type": "string" },
          "notes": { "type": "string" },
          "source": { "type": "string" }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "type": { "type": "string", "description": "Event type (e.g., contact.created, lead.status_changed)" },
                "entity_id": { "type": "string", "format": "uuid" },
                "data": { "type": "object" },
                "created_at": { "type": "string", "format": "date-time" }
              }
            }
          },
          "cursor": { "type": "string", "description": "Use as next 'since' parameter" },
          "has_more": { "type": "boolean" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "has_more": { "type": "boolean" },
          "next_cursor": { "type": "string", "nullable": true }
        }
      },
      "PaginatedList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "SingleResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "object" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound": { "description": "Resource not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "ValidationError": {
        "description": "Validation error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": { "code": "validation_error", "message": "At least one field required" } } } }
      },
      "Conflict": {
        "description": "Version conflict (optimistic locking)",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": { "code": "conflict", "message": "Version conflict — record has been modified. Re-fetch and retry." } } } }
      },
      "InvalidTransition": {
        "description": "Invalid status transition (state machine)",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "invalid_transition" },
                    "message": { "type": "string", "example": "Cannot transition from 'new' to 'converted'" },
                    "allowed": { "type": "array", "items": { "type": "string" }, "description": "List of valid target statuses from current state" }
                  }
                }
              }
            }
          }
        }
      },
      "RateLimited": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    }
  },
  "tags": [
    { "name": "Contacts", "description": "Customer contact management — CRUD, batch sync, soft delete, and KVKK data export" },
    { "name": "Leads", "description": "Lead qualification and tracking with state machine validation" },
    { "name": "Appointments", "description": "Appointment scheduling with batch sync support" },
    { "name": "Conversations", "description": "Chat conversations and messages (read-only)" },
    { "name": "Knowledge", "description": "Knowledge base management with auto-embedding" },
    { "name": "Events", "description": "Event polling for on-premise integrations (30-day retention)" },
    { "name": "Inbound", "description": "Partner push endpoints with external_id deduplication" }
  ]
}
